body {
	background-image: url(background.jpeg);
	margin: 0px;
}

nav {
	display: flex;
  	justify-content: space-around;
}

section {
	text-align: center;
}

h2 {
	color: pink;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: black;
    text-align: center;
    float: auto;
    padding: 10px 15px;
    text-decoration: none;
}

#imgChlo {
	width: 120px;
	height: auto;
}

#imgMail {
	width: 40px;
	height: 30px ;
}

#imgTel {
	width: 40px;
	height: 40px ;
}

#imgLink {
	width: 30px;
	height: 30px ;
}

section div {
	max-width: 600px;
	height: auto;
	text-align: center;
	border-radius: 5px;
	background-color: white;
	border: 2px solid black;
	margin: 20px;
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 5px black;

}

footer {
	background-color: pink;
	text-align: center;
	padding: 5px;
}
